{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      experimentalObjectRestSpread: true
    }
  },
  "rules" : {
    "no-case-declarations": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0
  }
}